@media screen and (min-width: 630px) {
  .container {
    display: flex;
    align-items: stretch;
    justify-content: center;
    max-width: 1440px;
    margin: 0 auto;
  }
  .img_bg .picture .mobile {
    display: none;
  }
}