@import "colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: $veryDark;
  color: $heading;
  font-size: 15px;
}

.maincontainer {
  max-width: 768px;
  display: flex;
  align-items: center;
  justify-content: center;
  .container {
    text-align: center;
    margin: 20px;
  }
  .txtcontent {
    h1, h2, span, p {
      font-family: "Inter", sans-serif;
    }
    h1 {
      font-weight: 700;
      margin: 15px;
    }
    .titles {
      font-size: 1.5em;
      margin: 5px 0;
      font-weight: bold;
    }
    span {
      color: $violet;
    }
    p {
      margin: 15px;
      color: $paragraph;
      font-weight: 500;
      line-height: 1.5;
      letter-spacing: 0.5px;
    }
    padding: 15px;
    background-color: $darkDesat;
    border-radius: 0 0 8px 8px;
    .subtitles {
      h2 {
        letter-spacing: 1px;
      }
      p {
        font-family: "Lexend Deca", sans-serif;
        color: $stat;
        font-size: 12px;
        letter-spacing: 1.5px;
        font-weight: 500;
        margin-bottom: 25px;
      }
      margin-top: 40px;
      list-style: none;
    }
    font-family: "Lexend Deca", sans-serif;
  }
  .img_bg {
    background: url(images/image-header-mobile.jpg) no-repeat center/cover;
    background-attachment: local;
    border-radius: 8px 8px 0 0;
  }
  .img_bg .overlay {
    background-color: hsla(277, 64%, 61%, 0.7);
    height: 250px;
    mix-blend-mode: multiply;
  }
}
@import "media_desktop";